OPENAI_API_KEY="your_openai_api_key_here"
OPENAI_API_KEY2="your_openai_api_key2_here"
HUGGINFACE_TOKEN="your_huggingface_token_here"
API_KEY="your_openai_api_key_here"
EMAIL="your_gmail_address_here"
PASSWORD="your_gmail_app_password_here"
